*{
    margin: 0;
    padding: 5px;
    font-family: sans-serif, 'Helvetica', Arial;
}

body{
    padding: -5px;
    margin: 0 auto;
    line-height: normal;
    font-size: 20px;
    font-weight: 300;
}

.panel{
    padding: 10px;
    display: flexbox;
}

.panel p{
    font-size: 20px;
}
body img{
    cursor: pointer;
    padding: 5px;
    max-width: 100%;
    min-width: 50%;
    margin-top: 5px;
    border: 0;
}

.outline{
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
    list-style: none;
}

.outline a{
    color: steelblue;
}

#sidebar.sidenav{
    border: none;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
}

#sidebar .sidenav h5{
    font-size: 16px;
    font-weight: 200;
    border: 2px solid black;
    
}

#sidebar .sidenav .dochead{
    color: black;
    
}

#sidebar li{
    list-style-type: none;
}

#sidebar .doc-pdf{
    border: 2px solid black;
    color: darkgrey;
    padding: 2px auto;
}

#welcome-step ol{
padding: 5px auto;
}

#welcome-step li{
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
}

